body{
  background-color: lightgrey;
  color: black;
  font-family: monospace;
  margin: 10% 15%;
}
.intro{
  text-align: center;
}
.header{
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: grey;
  color: black;
}
.work{
  text-decoration: solid underline;
