body {
  background-image: url(https://wallpaper.dog/large/17012067.jpg);
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 5% 25%;
  text-align: left;
  position: relative;
  padding: 18px 20px;
}
.intro{
  text-align: center;
}
.header{
  text-align: center;
  display: block;
  padding: 1px 25px 1px 25px;
  letter-spacing: 2px;
  border-style: double;
  background-color: silver;
  color: black;
  border-color: #1E90FF;
}
.work{
  text-decoration: solid underline;
}
